#form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
}

#form .help-block {
    font-size: 80%;
    color: gray;
    font-style: italic;
}

.msg-alert {
    line-height: 200%;
    height: 100%;
}

.row {
    margin: 0px;
}

#progress-info {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.progress-bar {
    min-width: 2em;
    margin-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
}

#download-button-container {
    display: none;
    margin-top: 15px;
}

.jumbotron {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
