<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Youtube Audio Downloder</title>
    <meta name="description" content="Download the audio of youtube videos">
    <meta name="keywords" content="audio, youtube">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/home.js')}}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fuid text-center">
        <div class="jumbotron">
            <h1 id="title">Download the audio of youtube videos!!</h1>
            <form action="" id="form">
                <div class="input-group">
                    <input class="form-control" type="url" name="url" id="url" placeholder="Example: https://www.youtube.com/watch?v=6lCUD_yVuU0" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" id="go" type="button">Go!</button>
                    </span>
                </diV>
                <!-- <p class="help-block text-left">Don't forget to start with http:// or https://</p> -->

            </form>
        </div>

        <div id="msg-container" class="col-sm-6 col-sm-offset-3"></div>

        <div class="row" id="progress-info">
            <div id="audio-title"></div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                0%
                </div>
            </div>
            <div>
                <span id="rate">0 KB/s</span>
                <span> - </span>
                <span id="eta">0:00:00 remaining</span>
            </div>
            <div id="download-button-container"></div>
        </div>

        <div id="audio-list"></div>

    </div>
</body>

</html>
